.album-contents
  - @albums.each do |album|
    = link_to album_path(album.id), class: 'album float' do
      .album__name
        = album.name
      .album__image
        - if album.color == "green"
          = fa_icon 'book', class: 'album__image__green'
        - elsif album.color == "purple"
          = fa_icon 'book', class: 'album__image__purple'
        - else
          = fa_icon 'book', class: 'album__image__red'

.bird-icon.passing
  = fa_icon 'fighter-jet'

.pagination
  = paginate @albums