!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Laview
    = csrf_meta_tags
    = csp_meta_tag
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity: "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", rel: "stylesheet"}/
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css", rel: "stylesheet"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js", type: "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__content
        .header__content__left
          = fa_icon 'plane', class: 'header__content__left__font-awesome spin'
          = link_to "LaView", root_path, class: 'logo'
        .header__content__right
          .header__content__right__user__name
            = current_user.name
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn logout-btn', data: {confirm: 'ログアウトしますか？'}
          = link_to "アルバム作成", new_album_path, class: 'btn new-album__btn'
   
    /.loader-wrap
    /.loader

    = yield
    = render 'layouts/notifications'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js", type: "text/javascript"}